.List {

	&--unstyled {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	&--md {
		.List__item {
			padding: 15px 0;
			border-bottom: 1px solid #ddd;
			&:last-child {
				border-bottom: none;
			}
		}
	}

	&--icons {
		position: relative;
		margin: 0;
		padding-left: 1.5em;
		list-style: none;

		.List__item {

		}

		.List__icon {
			position: absolute;
			left: 0;
			margin-top: 3px;
		}
	}

}
