.SummaryTable {
	padding-top: 20px;
	/*height: 230px;*/
	&__row {
		margin-bottom: 15px;
	}

	&__value {
		&--huge {
			font-size: 32px;
			@media (min-width: $breakpoint-medium) {
				line-height: 0;
			}
		}
	}

}
