*, *:after, *:before {
	box-sizing: border-box;
}

html {
	min-height: 100%;
}
body {
	background-color: #647E88;
	background-image: linear-gradient(to right bottom, #647E88, #3C5263);
	background-repeat: no-repeat;
}

img {
	max-width: 100%;
}

a {
	color: $link-clr;
	&:visited {
		color: color($link-clr saturation(130%));
	}
	&:active, &:focus {
		color: color($link-clr lightness(35%));
	}
	&:hover, &:focus {
		text-decoration: none;
	}
}

.svg-icon {
	width: 1em;
	height: 1em;
	line-height: inherit;
	vertical-align: middle;
	fill: currentColor;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
