.panel {
	background-color: #fff;
	border: $app-border-clr-light;
	&__body {
		padding: 20px;
	}

	&--transparent {
		background-color: transparent;
		.panel__body {
			padding-left: 0;
			padding-right: 0;
		}
	}
}
