.App {

	max-width: $app-width-max;

	@media (min-width: $breakpoint-medium) {
		margin: 50px auto 50px;
	}

	@media (min-width: $breakpoint-large) {
		margin: 110px auto 110px;
	}

}

.content-wrapper {
	width: 100%;

	padding: 20px;
	background-color: $main-bg;

}

.container {
	max-width: 800px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
	&--full {
		padding-left: 0;
		padding-right: 0;
	}
}

.MainContent {
	@media (min-width: $breakpoint-medium) {
		margin-right: $aside-width;
	}
}

.AsideContent {
	display: none;
	@media (min-width: $breakpoint-medium) {
		display: block;
		float: right;
		width: $aside-width;
	}
}
