.check-icon {
	display: inline-block;
	width: .5em;
	height: 1em;
	border-bottom: 1px solid;
	border-right: 1px solid;
	transform: translateX(.3em) rotate(45deg);
}

.cross-icon {
	position: relative;
	display: inline-block;
	height: 1em;
	width: 1em;
	vertical-align: middle;
	&:after, &:before {
		content: ' ';
		position: absolute;
		top: .5em;
		left: 0;
		display: inline-block;
		width: 1.1em;
		/*height: 1px;*/
		border-bottom: 1px solid;
		/*background-color: black;*/
	}
	&:after {
		transform: rotate(45deg);
	}
	&:before {
		/*top: 1em;*/
		transform: rotate(-45deg);
	}
}

.circled-icon {
	display: inline-block;
	width: 1.7em;
	height: 1.7em;
	border: 1px solid;
	border-radius: 50%;
	text-align: center;
	line-height: 1.4em;
	[class$=-icon] {
		line-height: 1.4;
	}
}


.chevron-icon {
	display: inline-block;
	height: .5em;
	width: .5em;
	border-right: 1px solid;
	border-bottom: 1px solid;
	vertical-align: middle;
	transform-origin: 75% 75%;
	transform: translateY(-.17em) rotate(-45deg);
	transition: transform .18s;

	&--down {
		transform: translateY(-.1em) rotate(45deg);
	}
	&--left {
		transform: translateY(-.1em) rotate(135deg);
	}
}
