.text-right {
	text-align: right;
}

.text-light {
	color: $text-light;
}

.text-success {
	color: $text-success;
}

.text-danger {
	color: $app-clr-error;
}

.text-thin {
	font-weight: lighter;
}

.text-huge {
	font-size: 2em;
}

.text-center {
	text-align: center;
}

.text-muted {
	color: $text-muted;
}
