$main-bg: #f5f5f5;

$app-border-clr-light: #ddd;
$app-clr-error: #FA374D;

$text-default: black;
$text-muted: #666;
$text-light: #999;
$text-success: #36C57D;

$link-clr: #36B4E4;

$padding-base-lg: 20px;
$padding-base: 10px;
$padding-base-sm: 6px;

$gap-base: $padding-base;

/*foundation breakpoints*/
$breakpoint-small: 0;
$breakpoint-medium: 640px;
$breakpoint-large: 1024px;
$breakpoint-xlarge: 1200px;
$breakpoint-xxlarge: 1440px;
