@import '../styles/variables';

.Footer {
	margin-top: 20px;
	border-top: 1px solid $app-border-clr-light;
	padding-top: 15px;
	text-align: center;

	a {
		text-decoration: none;
		&, &:visited {
			color: black;
		}

		&:active {
			color: color($link-clr lightness(35%));
		}
		&:hover, &:focus {
			color: $link-clr;
			text-decoration: none;
		}
	}

	@media (min-width: $breakpoint-medium) {
		display: flex;
		justify-content: space-between;
		text-align: left;
	}

	&__item {
		& + & {
			margin-top: 15px;

			@media (min-width: $breakpoint-medium) {
				margin-top: 0;
			}
		}
	}

	&__copyright {

	}

	&__contacts {
		p {
			margin: 0;
		}
	}
}

.Copyright {
	&__line {
		margin: 0;
	}
}
