$tooltip-width: 300px;

.Tooltip {
  display: block;
  position: absolute;
  width: $tooltip-width;
  margin-left: calc(0 - $tooltip-width / 2);
  background-color: #444;
  color: white;
  padding: 1em 1.5em;
  font-size: .8em;
  z-index: 10000;

  &:before {
    content: '';
    position: absolute;
    display: inline-block;
    left: 50%;
    top: -8px;
    margin-left: -8px;
    border-style: solid;
    border-width: 0 8px 8px;
    border-color: transparent;
    border-bottom-color: #444;
  }

  &--top {
    transform: translateY(-100%);
    &:before {
      top: initial;
      bottom: -8px;
      border-width: 8px 8px 0;
      border-bottom-color: transparent;
      border-top-color: #444;
    }
  }

}
