<!doctype html>
<html lang="ru">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title>
			<% if (htmlWebpackPlugin.options.production) { %>
				@if ($page == 'whois')
					Проверка доменов | Whois | check.ru
				@elseif ($page == 'analytics')
					Анализ доменов | check.ru
				@endif
			<% } %>
		</title>

		<% if (htmlWebpackPlugin.options.production) { %>
			@if ($page == 'whois')
				<meta name="keywords" content="whois testing check">
				<meta name="description" content="Проверка доменных имён">
			@elseif ($page == 'analytics')
				<meta name="keywords" content="analytics testing check">
				<meta name="description" content="Анализ доменов">
			@endif
		<% } %>

		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="apple-touch-icon" href="apple-touch-icon.png">
		<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
		<!-- Place favicon.ico in the root directory -->

		<!-- <link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/main.css">
		<script src="js/vendor/modernizr-2.8.3.min.js"></script> -->

	</head>
	<body>
		<!--[if lt IE 9]>
			<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
		<![endif]-->

		<svg style="position: absolute; width: 0; height: 0;" width="0" height="0" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
			<symbol id="icon-search" viewBox="0 0 512 512">
				<g>
					<path d="m495,466.1l-110.1-110.1c31.1-37.7 48-84.6 48-134 0-56.4-21.9-109.3-61.8-149.2-39.8-39.9-92.8-61.8-149.1-61.8-56.3,0-109.3,21.9-149.2,61.8-39.9,39.8-61.8,92.8-61.8,149.2 0,56.3 21.9,109.3 61.8,149.2 39.8,39.8 92.8,61.8 149.2,61.8 49.5,0 96.4-16.9 134-48l110.1,110c8,8 20.9,8 28.9,0 8-8 8-20.9 0-28.9zm-393.3-123.9c-32.2-32.1-49.9-74.8-49.9-120.2 0-45.4 17.7-88.2 49.8-120.3 32.1-32.1 74.8-49.8 120.3-49.8 45.4,0 88.2,17.7 120.3,49.8 32.1,32.1 49.8,74.8 49.8,120.3 0,45.4-17.7,88.2-49.8,120.3-32.1,32.1-74.9,49.8-120.3,49.8-45.4,0-88.1-17.7-120.2-49.9z"/>
				</g>
			</symbol>
		</svg>

		<div id="app"></div>

		<% if (htmlWebpackPlugin.options.development) { %>
			<script>
				google_adtest = 'on';
			</script>
		<% } %>

		<% if (htmlWebpackPlugin.options.googleAnalytics) { %>
		<script>
			(function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
			function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
			e=o.createElement(i);r=o.getElementsByTagName(i)[0];
			e.src='https://www.google-analytics.com/analytics.js';
			r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
			ga('create', '<%=htmlWebpackPlugin.options.googleAnalytics.tractrackingId%>','auto');
			<% if (htmlWebpackPlugin.options.googleAnalytics.pageViewOnLoad) { %>
			ga('send','pageview');
			<% } %>
		</script>
		<% } %>
	</body>
</html>
